<!DOCTYPE html>
<html>

<head>

</head>
<%- include('includes')%>

    <body>
        <%- include('header') %>
            <div class="dasitm">
                <%- include('sidenav') %>
            </div>
            <div class="about">
                <h2>ABOUT</h2>

                <p>In this technological era, where in each and every field they provide online solutions to most of the problems faced by the citizens. Hence we try to help the colleges that are not upgraded in their technology by providing them this web
                    application through which they can manage most of the problems faced by their students effectively.</p>
            </div>
            <script>
                $(document).ready(function() {

                    $(".header").animate({
                        height: '120px'
                    });

                });
            </script>




    </body>

</html>