<div class="header"><br>
    <h1> E D U K I T</h1>
</div>
<div class="menu">
    <h2>
        <a href="/dash" style="height: 100%;">
            <img src="/logo.png" class="logoimg" alt="HTML tutorial" style=" width:52px;height:42px;border:0;">
        </a>
    </h2>

    <h2><a href="/materials">Materials </a></h2>
    <h2><a href="/question"> Questions</a></h2>
    <h2><a href="/teachers">Find staff </a></h2>
    <h2><a href="/blogs">Blogs </a></h2>
    <h2><a href="/class">Class </a></h2>

    <h3>Hi,
        <%= user.FirstName%><br>

    </h3>
    <h3 style="width: 120px;">

        notes
    </h3>

</div>